@model Article

<div class="article-details">
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Повернутися до списку статей</a>
</div>
