@{
	ViewData["Title"] = "Home Page";
}

@model List<Category>

<div class="list-group">
	@{
		foreach (var category in Model)
		{
			<a asp-controller="Home" asp-action="Category" asp-route-id="@category.Id" class="list-group-item list-group-item-action">@category.Name</a>
		}
	}
</div>